<li>
	
	{{summary}} <button class="edit-sighting btn btn-sm rounded mx-3" data-id="{{this.id}}">Edit</button>
    <button class="delete-sighting btn btn-sm rounded mx-3" data-id="{{this.id}}">Delete</button>
    <br />
    

</li>