<div class="ufoPic" width=100% height=100%>
    <div class="container center">
        <p class="text-center welcome">Welcome, <span class="member-name"></span></p>
        <div class="container tiles">
            {{!-- <div class="row">
            <div class="col-md-2">
            </div>
             
            <div class="col-md-8"> --}}
            {{!-- <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>

                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
             --}}

{{!-- tileOne is-parent is-vertical --}}
{{!-- tileTwo is-parent--}}
{{!-- tileThree is-parent --}}


            <div class="tile is-ancestor tileGroup" style="margin-left: 325px;">
                <div class="row">
                    <div class="col-md-9">
                        <div class="tile is-ancestor">
                            <div class="tile is-vertical is-8">
                                <div class="tile">
                                    <div class="tile  tileOne">
                                        <article class="tile is-child notification is-link">
                                            <p class="title">Your Sightings</p>
                                            <a class="btn k" href="/reports" style="color: black">reports</a>
                                        </article>
                                    </div>
                                    <div class="tile  tileTwo">
                                        <article class="tile is-child notification is-info">
                                            <p class="title">Sighting of the Week</p>
                                            <p class="subtitle"></p>
                                            <figure class="image is-4by3">
                                                <img src="https://bulma.io/images/placeholders/640x480.png">
                                            </figure>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="tile  tileThree">
                                <article class="tile is-child notification is-link">
                                    <div class="content">
                                        <p class="title">View Sightings</p>
                                        <div class="content">
                                            <a class="btn btn-light" href="/sightings" style="color: black">sightings</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Map -->
                <div class="google-maps" style="margin-left: 200px">
                    <!-- Google Places info -->
                    <div id="panel"></div>
                    <!-- The actual map -->
                    <div id="map"></div>
                </div>
            </div>
        </div>


    </div>
    <div class="flier">
        <img src="images/alientown.png" class="alienText">
        <img src="images/ufoSmall.png" class="ufoSmall">
    </div>
</div>
</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHESksBbXT3HwivsjO9_9M5NkhWCBhaPk&libraries=places&callback=initMap">
    </script>

      <footer id="footer">
    <h4 style="color:black">Copyright® |
      <a href="https://github.com/Crowe828/alientown.git">
        <svg width="24" height="24" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
          <path
            d=" M 375 1000C 375 950 376 899 376 857C 250 880 218 826 208 798C 202 784 178 740 156 728C 139 718 114 695 156 695C 195 694 223 731 233 746C 278 821 349 800 378 787C 383 755 396 733 410 720C 299 708 183 665 183 473C 183 419 202 374 234 339C 229 327 211 275 239 207C 239 207 281 194 376 258C 416 247 459 241 501 241C 544 241 586 247 626 258C 722 193 764 207 764 207C 791 275 774 327 769 339C 801 374 820 418 820 473C 820 665 703 708 592 720C 610 736 626 766 626 813C 626 866 625 950 625 1000" />
        </svg>
      </a>
    </h4>
  </footer>