<div class="ufoPic" width=100% height=100%>
    <div class="container center">
        <p class="text-center welcome">Welcome, <span class="member-name"></span></p>
        <div class="container tiles">
            <div class="tile is-ancestor tileGroup">
                <div class="row text-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="tile is-ancestor">
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-link">
                                    <p class="title">Your Sightings</p>
                                    <a class="btn btn-light" href="/reports">reports</a>
                                </article>
                            </div>
                            <div class="tile is-parent tileTwo">
                                <article class="tile is-child notification is-info">
                                    <p class="title">Sighting of the Week</p>
                                    <p class="subtitle"></p>
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/640x480.png">
                                    </figure>
                                </article>
                            </div>
                            <div class="tile is-parent tileThree">
                                <article class="tile is-child notification is-link">
                                    <div class="content">
                                        <p class="title">View Sightings</p>
                                        <div class="content">
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Map -->
                <div class="google-maps">
                    <!-- Google Places info -->
                    <div id="map"></div>
                </div>
            </div>
        </div>


    </div>
    <div class="flier">
        <img src="images/alientown.png" class="alienText">
        <img src="images/ufoSmall.png" class="ufoSmall">
    </div>
</div>
<script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHESksBbXT3HwivsjO9_9M5NkhWCBhaPk&callback=initMap&libraries=&v=weekly"
></script>