<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container hidden">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form id="newUfo">
                            <div class="form-group">
                                <label for="date">Date of Occurence:</label>
                                <input placeholder="Date" class="form-control" id="date">
                                <br />
                                <label for="city">City:</label>
                                <input placeholder="City" class="form-control" id="city">
                                <br />
                                <label for="shape">Shape:</label>
                                <input placeholder="Shape" class="form-control" id="shape">
                                <br />
                                <label for="duration">Duration:</label>
                                <input placeholder="Duration" class="form-control" id="duration">
                                <br />
                                <label for="summary">Summary:</label>
                                <textarea placeholder="Summary" class="form-control" rows="5" id="summary"></textarea>
                                <br />
                                <label for="datePosted">Date Posted:</label>
                                <input placeholder="Date Posted" class="form-control" id="datePosted">
                                <br />
                                <button type="submit" class="btn btn-primary submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">


        </div>












    </div>


</div>