<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="images/alientown.png" style="width: 500px">
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Sign Up Form</h2>
      <form class="signup">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
      <br />
      <p>Or log in <a href="/">here</a></p>
    </div>
  </div>
</div>

  <footer id="footer">
    <h4 style="color:black">Copyright® |
      <a href="https://github.com/Crowe828/alientown.git">
        <svg width="24" height="24" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
          <path
            d=" M 375 1000C 375 950 376 899 376 857C 250 880 218 826 208 798C 202 784 178 740 156 728C 139 718 114 695 156 695C 195 694 223 731 233 746C 278 821 349 800 378 787C 383 755 396 733 410 720C 299 708 183 665 183 473C 183 419 202 374 234 339C 229 327 211 275 239 207C 239 207 281 194 376 258C 416 247 459 241 501 241C 544 241 586 247 626 258C 722 193 764 207 764 207C 791 275 774 327 769 339C 801 374 820 418 820 473C 820 665 703 708 592 720C 610 736 626 766 626 813C 626 866 625 950 625 1000" />
        </svg>
      </a>
    </h4>
  </footer>