<div>

    <script type="text/javascript">
    var items = new vis.DataSet([
    {
        id: "", city: "", state: "", shape: "", duration: "", summary: "", posted: ""
    }]);
    
    </script>
</div>
