form.signup,
form.login {
  margin-top: 50px;
}

body, html {
  height: 100%;
  width:100%
}

.ufoPic {
  /* The image used */
  background-image: url("../images/ufo.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alienText{
  position: absolute; 
  margin-left: 20%;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to { 
    transform: rotateY(360deg);
  }
}

img.alienText {
    animation-name:            rotate; 
    animation-duration:        10s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

